body {
      background:url(/images/rainbow.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
}

.main-inner {
      opacity: 0.9;
}
.header-inner {
      opacity: 0.9;
}