body {
      background:url(/images/cover.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
}

.main-inner {
      opacity: 0.95;
}
